@model teamcare.web.app.ViewModels.AuditViewModel
@using teamcare.web.app.Helpers;
@using teamcare.common.Helpers;

@{
    var userRole = User.GetClaimValue(System.Security.Claims.ClaimTypes.Role);

}
<!--begin::Tab Content-->
<div class="tab-content">

    <!--begin::Tab pane-->
    <div id="kt_project_users_table_pane" class="tab-pane fade show active">
        <!--begin::Card-->
        <div class="card card-flush">
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Table container-->
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table id="kt_project_users_table" class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bolder">
                        <!--begin::Head-->
                        <thead class="fs-7 text-gray-400 text-uppercase">
                            <tr>
                                @if (userRole == teamcare.common.Enumerations.UserRoles.GlobalAdmin.ToString() || userRole == teamcare.common.Enumerations.UserRoles.Admin.ToString())
                                {
                                    <th class="min-w-200px">User Name</th>
                                }
                                <th class="min-w-150px">Action</th>
                                <th class="min-w-150px">Details</th>
                                <th class="min-w-200px">Created Date</th>
                            </tr>
                        </thead>
                        <!--end::Head-->
                        <!--begin::Body-->
                        <tbody class="fs-6">
                            @if (Model != null)
                            {
                                foreach (var item in Model.Audit)
                                {
                                    <tr>
                                        @if (userRole == teamcare.common.Enumerations.UserRoles.GlobalAdmin.ToString() || userRole == teamcare.common.Enumerations.UserRoles.Admin.ToString())
                                        {
                                            <td>@item.UserName</td>
                                        }
                                        <td>@item.Action.GetEnumDescription()</td>
                                        <td>@item.Details</td>
                                        <td>@item.CreatedOn.GetDateOffsetFormat(true)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <!--end::Body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Table container-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Tab pane-->
</div>
<!--end::Tab Content-->