.bottomright {
    position: fixed;
    bottom: 10px;
    right: 70px;
}

.boxspnner {
    background: #ffffff !important;
    border-color: #a6ddfd !important;
    cursor: default;
    float: left;
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    border-radius: 10px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border-top: 3px solid #07d;
    border-right: 3px solid transparent;
    animation: spinner .6s linear infinite;
}
