@using teamcare.web.app.Helpers;
@model teamcare.web.app.ViewModels.WeightReadingViewModel
@using teamcare.common.ReferenceData
@{
	var user = ViewData[ViewDataKeys.UserProfile] as teamcare.web.app.ViewModels.UserProfile;
}

<div class="d-flex flex-wrap flex-stack pb-7">
	<div class="d-flex flex-wrap align-items-center my-1">
		<h3 class="fw-bolder me-5 my-1"></h3>
	</div>
	<div class="d-flex flex-wrap my-1">
		<!--begin::Tab nav-->
		<ul class="nav nav-pills me-6 mb-2 mb-sm-0">
			<li class="nav-item m-0">
				<div class="dropdown weightdropdown">

					<button class="btn btn-custom btn-active-white btn-flex btn-active-color-primary fw-bolder btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<rect x="0" y="0" width="24" height="24" />
									<path d="M5,4 L19,4 C19.2761424,4 19.5,4.22385763 19.5,4.5 C19.5,4.60818511 19.4649111,4.71345191 19.4,4.8 L14,12 L14,20.190983 C14,20.4671254 13.7761424,20.690983 13.5,20.690983 C13.4223775,20.690983 13.3458209,20.6729105 13.2763932,20.6381966 L10,19 L10,12 L4.6,4.8 C4.43431458,4.5790861 4.4790861,4.26568542 4.7,4.1 C4.78654809,4.03508894 4.89181489,4 5,4 Z" fill="#000000" />
								</g>
							</svg>
						</span>
						Filter
					</button>

					<ul class="dropdown-menu">
						<div class="px-7 py-5 w-250px w-md-300px">
							<!--begin::Input group-->
							<div class="mb-10">
								<!--begin::Label-->
								<label class="form-label fw-bold">Date:</label>
								<!--end::Label-->
								<div>
									<div class="position-relative d-flex align-items-center">
										<!--begin::Icon-->
										<div class="symbol symbol-20px me-4 position-absolute ms-4">
											<span class="symbol-label bg-secondary">
												<!--begin::Svg Icon | path: icons/duotone/Layout/Layout-grid.svg-->
												<span class="svg-icon">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="0" y="0" width="24" height="24" />
															<rect fill="#000000" opacity="0.3" x="4" y="4" width="4" height="4" rx="1" />
															<path d="M5,10 L7,10 C7.55228475,10 8,10.4477153 8,11 L8,13 C8,13.5522847 7.55228475,14 7,14 L5,14 C4.44771525,14 4,13.5522847 4,13 L4,11 C4,10.4477153 4.44771525,10 5,10 Z M11,4 L13,4 C13.5522847,4 14,4.44771525 14,5 L14,7 C14,7.55228475 13.5522847,8 13,8 L11,8 C10.4477153,8 10,7.55228475 10,7 L10,5 C10,4.44771525 10.4477153,4 11,4 Z M11,10 L13,10 C13.5522847,10 14,10.4477153 14,11 L14,13 C14,13.5522847 13.5522847,14 13,14 L11,14 C10.4477153,14 10,13.5522847 10,13 L10,11 C10,10.4477153 10.4477153,10 11,10 Z M17,4 L19,4 C19.5522847,4 20,4.44771525 20,5 L20,7 C20,7.55228475 19.5522847,8 19,8 L17,8 C16.4477153,8 16,7.55228475 16,7 L16,5 C16,4.44771525 16.4477153,4 17,4 Z M17,10 L19,10 C19.5522847,10 20,10.4477153 20,11 L20,13 C20,13.5522847 19.5522847,14 19,14 L17,14 C16.4477153,14 16,13.5522847 16,13 L16,11 C16,10.4477153 16.4477153,10 17,10 Z M5,16 L7,16 C7.55228475,16 8,16.4477153 8,17 L8,19 C8,19.5522847 7.55228475,20 7,20 L5,20 C4.44771525,20 4,19.5522847 4,19 L4,17 C4,16.4477153 4.44771525,16 5,16 Z M11,16 L13,16 C13.5522847,16 14,16.4477153 14,17 L14,19 C14,19.5522847 13.5522847,20 13,20 L11,20 C10.4477153,20 10,19.5522847 10,19 L10,17 C10,16.4477153 10.4477153,16 11,16 Z M17,16 L19,16 C19.5522847,16 20,16.4477153 20,17 L20,19 C20,19.5522847 19.5522847,20 19,20 L17,20 C16.4477153,20 16,19.5522847 16,19 L16,17 C16,16.4477153 16.4477153,16 17,16 Z" fill="#000000" />
														</g>
													</svg>
												</span>
												<!--end::Svg Icon-->
											</span>
										</div>
										<!--end::Icon-->
										<!--begin::Input-->
										<input class="form-control form-control-solid ps-12 date-filter-weight" placeholder="Pick date range" name="weightdatefilter" id="txtdaterangeweight" />
										<!--end::Input-->
									</div>
								</div>
							</div>

							<!--end::Input group-->
							<!--begin::Actions-->
							<div class="d-flex justify-content-end">
								<button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2" onclick="ResetFilterWeight();" data-kt-menu-dismiss="true">Reset</button>
								<button type="button" onclick="GetweightData(1);" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">Apply</button>
							</div>
							<!--end::Actions-->
						</div>
					</ul>

				</div>
			</li>
			<li class="nav-item m-0">
				@if (user.UserRole != teamcare.common.Enumerations.UserRoles.ServiceUser.ToString())
				{
					<a href="javaScript:void(0);" class="btn btn-primary btn-sm align-self-center me-3" id="btncreate" onclick="openAddEditWeightModal('')">Create</a>
				}
			</li>
			<li class="nav-item m-0">
				<a class="btn btn-sm btn-icon btn-light btn-color-muted btn-active-primary me-3 active" data-bs-toggle="tab" href="#kt_project_weight_card_pane">
					<!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks-2.svg-->
					<span class="svg-icon svg-icon-2">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
							<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<rect x="0" y="0" width="24" height="24" />
								<rect fill="#000000" opacity="0.3" x="4" y="5" width="16" height="6" rx="1.5" />
								<rect fill="#000000" x="4" y="13" width="16" height="6" rx="1.5" />
							</g>
						</svg>
					</span>
					<!--end::Svg Icon-->
				</a>
			</li>
			<li class="nav-item m-0">
				<a class="btn btn-sm btn-icon btn-light btn-color-muted btn-active-primary" data-bs-toggle="tab" href="#kt_project_weight_table_pane">
					<!--begin::Svg Icon | path: icons/duotone/Layout/Layout-horizontal.svg-->
					<span class="svg-icon svg-icon-2">

						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
							<path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
						</svg>
					</span>
					<!--end::Svg Icon-->
				</a>
			</li>
		</ul>
		<!--end::Tab nav-->
	</div>
	<!--end::Controls-->
</div>

<div class="tab-content" id="tabweight">
	<!--begin::Tab pane-->
	<div id="kt_project_weight_card_pane" class="tab-pane fade show active">
		<!--begin::Card-->
		<div class="card card-flush">
			<!--begin::Card body-->
			<div class="card-body pt-0">
				<!--begin::Table container-->
				<div class="table-responsive">
					<!--begin::Table-->
					<table id="kt_project_users_table" class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bolder">
						<!--begin::Head-->
						<thead class="fs-7 text-gray-400 text-uppercase">
							<tr>
								<th class="min-w-150px">TestDate</th>
								<th class="min-w-50px">Weight</th>
								<th class="min-w-100px text-end">Action</th>
							</tr>
						</thead>
						<!--end::Head-->
						<!--begin::Body-->
						<tbody class="fs-6">
							@if (Model != null)
							{
								foreach (var item in Model.WeightReadingList)
								{
									<tr>
										<td>@item.TestDate.GetDateFormat(false)</td>
										<td>@item.Weight</td>
										<td class="text-end">
											@*  <a href="javaScript:void(0);" class="btn btn-sm btn-primary me-3" id="btnedit" title="Edit Blood Pressure Reading" onclick="openAddEditBloodModal('@item.Id')"><i class="bi bi-pencil-square"></i></a>*@
											@if (user.UserRole != teamcare.common.Enumerations.UserRoles.ServiceUser.ToString())
											{
												<a href="#" class="btn btn-sm btn-danger" id="btndelete" title="Delete Weight Reading" onclick="DeleteWeightReading(this, '@item.Id')"><i class="bi bi-trash"></i></a>
											}
										</td>
									</tr>
								}
							}
						</tbody>
						<!--end::Body-->
					</table>
					<!--end::Table-->
				</div>
				<!--end::Table container-->
			</div>
			<!--end::Card body-->
		</div>
		<!--end::Card-->
	</div>
	<!--end::Tab pane-->
	<!--begin::Tab pane-->
	<div id="kt_project_weight_table_pane" class="tab-pane fade">

		<!--begin::Row-->
		<div class="row g-6 g-xl-9">
			<div class="col-md-10">
				<div class="card card-xl-stretch mb-5 mb-xl-8">
					<!--begin::Body-->
					<div class="card-body">
						<!--begin::Chart-->
						<div id="kt_charts_weight_chart" style="height: 500px"></div>
						<!--end::Chart-->
					</div>
					<!--end::Body-->
				</div>
			</div>

		</div>
		<!--end::Row-->
	</div>
	<!--end::Tab pane-->
</div>




