@using teamcare.common.Helpers
@model teamcare.web.app.ViewModels.SkillAssessmentViewModel

<table class="table table-row-dashed border-gray-300 align-middle gy-6" id="tbldetails">
    @*<thead class="border-gray-200 fs-5 fw-bold bg-lighten">
            <tr>
                <th>Group / Skill</th>
                <th>Level</th>
            </tr>
        </thead>*@
    <tbody class="fs-6">

        @foreach (var item in Model.SkillGroups)
		{
			var skillsInGroup = Model.AssessmentSkill.Where(r => r.SkillGroup == item.GroupName).ToList();

			if (skillsInGroup.Count > 0)
			{
                <tr>
                    <td colspan="2" style="padding-top: 0.7rem; padding-bottom: 0.7rem;">
                        <label class="fw-bold fs-6">
                            @item.GroupName
                        </label>
                    </td>
                </tr>

                @foreach (var livingitem in skillsInGroup)
                {
                    <tr>
                        <td style="padding-top: 0.7rem; padding-bottom: 0.7rem;">
                            <label class="fs-7 text-muted">
                                @livingitem.SkillName
                            </label>
                        </td>

						<td style="padding-top: 0.7rem; padding-bottom: 0.7rem;">
							<label class="fs-7 text-muted">
								@livingitem.SkillLevel
							</label>
						</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
