@model teamcare.web.app.ViewModels.ServiceUsersDocumentsViewModel
@using teamcare.common.Helpers

@{ Guid userId = new Guid(User.GetClaimValue(teamcare.common.ReferenceData.ClaimTypes.UserId)); }

<div class="card mb-5 mb-xl-10">

    <div class="card-header cursor-pointer">
        <!--begin::Card title-->
        <div class="card-title m-0">

            <div class="d-flex flex-stack pt-10">
                <div class="me-2">
                    <h3 class="fw-bolder me-5 my-1">Documents : @Model.ServiceUsersDocument.Count() </h3>
                </div>
                <div>
                    <button type="button" id="btnAddDocument" onclick="addNewDocument('@userId')" class="btn btn-sm btn-primary me-3 mb-5">
                        Add New Document
                    </button>
                </div>
            </div>
        </div>
        <!--end::Card title-->
    </div>
</div>

@if (Model.ServiceUsersDocument.Count() > 0)
{
    <div class="row g-6 g-xl-9">
        <div id="ServiceUsersDocumentsTabContent">
            <partial name="_ServiceUsersDocumentsManagerCard" model="Model" />
        </div>
    </div>
}

<div class="d-flex flex-wrap flex-stack pb-7">
    <partial name="_ServiceUsersDocumentsManagerCreate" model="Model.CreateViewModel" />
</div>
