
@model teamcare.web.app.ViewModels.ServiceUsersDocumentsViewModel
<!--begin::Tab Content-->
<!--begin::Tab pane-->

<div id="kt_service_user_document_grid_pane" class="tab-pane fade ">
    <!--begin::Row-->        
        <partial name="_ServiceUsersDocumentsManagerCard" model="Model" />    
    <!--end::Row-->
</div>
<!--end::Tab pane-->
<!--begin::Tab pane-->
<div id="kt_service_user_document_table_pane" class="tab-pane fade show active">    
    <partial name="_ServiceUsersDocumentsManagerList" model="Model" />                    
</div>
<!--end::Tab pane-->
<!--end::Tab Content-->





