@model teamcare.web.app.ViewModels.ServiceUserLogViewModel
<!--begin::Tab Content-->
<div class="tab-content">

    <!--begin::Tab pane-->
    <div id="kt_project_users_table_pane" class="tab-pane fade show active">
        <!--begin::Card-->
        <div class="card card-flush">
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Table container-->
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table id="kt_project_users_table" class="table table-row-bordered table-row-dashed gy-4 align-middle fw-bolder">
                        <!--begin::Head-->
                        <thead class="fs-7 text-gray-400 text-uppercase">
							<tr>
								<th class="min-w-160px">Service User</th>
								<th class="min-w-100px">Log CreatedDate</th>
								<th class="min-w-100px">Log Category</th>
								<th class="min-w-120px">Created User</th>
								<th class="min-w-200px">Log Text</th>
								<th class="min-w-200px">Updated Log Text</th>
								<th class="min-w-80px">Status</th>
								<th class="min-w-100px">Action</th>
							</tr>
                        </thead>
                        <!--end::Head-->
                        <!--begin::Body-->
                        <tbody class="fs-6">
                            @if (Model != null)
                            {
                                foreach (var item in Model.ServiceUserLog)
                                {
                                    <partial name="_ServiceUserLogListItem" model="item" />
                                }
                            }
                        </tbody>
                        <!--end::Body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Table container-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Tab pane-->
</div>
<!--end::Tab Content-->